<div class="container" id="topContainer">
    <div class="row">
        <div class="col-sm-6" id="leftPane">
            <div class="ui-content-widget ui-resizable" id="resizable">
                <div id="board" class=""></div>
            </div>
        </div>
        <div class="col-sm-6" id="rightPane">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="games">
                            <span id="button1" class="btn btn-secondary" value="on">Computer: On</span>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea id="possibleMoves"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea id="debug2"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea id="debug"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
