<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <span class="navbar-brand bold">chess-es6.js demo</span>
                <span class="navbar-brand">&verbar;</span>
                <%= link_to "chess-es6.js repo", 'https://github.com/aaronfi/chess-es6.js', class: 'navbar-brand' %>
                <span class="navbar-brand">&verbar;</span>
                <%= link_to "this website's repo", 'https://github.com/aaronfi/chess-es6-demo', class: 'navbar-brand' %>
                <span class="navbar-brand">&verbar;</span>
                <%= link_to "contact", 'mailto:contact@aaronfischer.com', class: 'navbar-brand' %>
            </li>
        </ul>
    </div>
</nav>
